@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Ubuntu+Mono');

* {
  box-sizing: border-box;
  /* border: 1px solid limegreen; */
}

.heading-box {
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 5em;
}

.container {
  max-width: 960px;
  padding: 50px 0 80px 0;
  border-radius: 50px;
  margin: 0 auto;
}

.game-box {
  /* display: inline-block; */
  position: relative;
  margin: 0 auto;
  width: 610px;
}

.box-row {
  margin: 0 auto;
}

.box {
  display: inline-block;
  margin: 4px 0 0 0;
  background-color: #d4d2d2;
  width: 200px;
  height: 200px;
  vertical-align: top;
  text-align: center;
  font-size: 1100%;
  font-family: monospace;
  color: black;
}

.x-box {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 8px;
  right: 8px;
  padding: 176px 63px 166px 94px;
}

.o-box {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 8px;
  right: 8px;
  padding: 176px 63px 166px 94px;
}

.draw-box {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 8px;
  right: 8px;
  padding: 234px 127px 243px 154px;
}

.result {
  text-align: center;
  color: red;
  font-famimonospace;
  margin: 0 auto;
  font-size: 800%;
}

.button-box {
  padding: 40px 0px 0px 160px;
}

.reset-button {
  margin: 0 0 0 30px;
  display: inline-block;
  border-radius: 0.5em;
  border: 2px solid black;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  font-size: 130%;
  width: 150px;
  height: 50px;
}

.play-again-button {
  margin: 0 20px 0 -30px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 0.5em;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  font-size: 130%;
  width: 150px;
  height: 50px;
}

.point-box {
  margin: 0 auto;
  width: 150px;
  top: 1px;
}

.x-points {
  font-family: monospace;
  color: blue;
  font-size: 300%;
}

.o-points {
  font-family: monospace;
  color: blue;
  font-size: 300%;
}
