@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Ubuntu+Mono');

* {
  box-sizing: border-box;
  /* border: 1px solid limegreen; */
}


.heading-box {
  margin-left: auto;
  margin-right: auto;
  padding: 1px 0 1px 0;
  margin: 30px 0 50px 0;
  border-radius: 50px;
  background-color: limegreen;
}

h1 {
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 400%;
}

.container {
  max-width: 960px;
  padding: 50px 0 80px 0;
  background-color: rgb(134, 134, 134);
  border-radius: 50px;
  margin: 0 auto;
}

.game-box {
  /* display: inline-block; */
  position: relative;
  margin: 0 auto;
  width: 610px;
}

.box-row {
  margin: 0 auto;
}

.box {
  display: inline-block;
  margin: 4px 0 0 0;
  background-color: yellow;
  border-radius: 25px;
  width: 200px;
  height: 200px;
  vertical-align: top;
  text-align: center;
  font-size: 1100%;
  font-family: 'Ubuntu Mono', monospace;
  color: purple;
}

/* .naught {
  background-image: url("../img/circle.png");
  background-size: contain;
}

.cross {
  background-image: url("../img/cross.jpg");
  background-size: contain;
} */

.x-box {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 8px;
  right: 8px;
  padding: 176px 63px 166px 94px;
}


.o-box {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 8px;
  right: 8px;
  padding: 176px 63px 166px 94px;
}

.draw-box {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 8px;
  right: 8px;
  padding: 234px 127px 243px 154px;
}

.result {
  text-align: center;
  color: green;
  font-family: 'Ubuntu Mono', monospace;
  margin: 0 auto;
  font-size: 800%;
}

.button-box {
  padding: 40px 0px 0px 160px;
}

.reset-button {
  margin: 0 0 0 30px;
  display: inline-block;
  background-color: rgb(227, 0, 255);
  border-radius: 30px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-size: 130%;
  width: 150px;
  height: 50px;
}

.play-again-button {
  margin: 0 20px 0 -30px;
  display: inline-block;
  background-color: rgb(227, 0, 255);
  border-radius: 30px;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  font-size: 130%;
  width: 150px;
  height: 50px;
}

.point-box {
  /* display: inline block; */
  width: 150px;
  top: 1px;
  margin: 0 0 0 430px;
}

.x-points {
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 300%;
}


.o-points {
  font-family: 'Source Code Pro', monospace;
  color: white;
  font-size: 300%;
}
